/* Left section */

#left-section{
  padding:30px;
  margin:0px 20px 20px 20px;
  justify-content: flex-start;
}

#review{
  font-size:30px;
  margin-left:8px;
  font-weight:900;
}

.cart-product-box{
    border: 1px solid rgb(231, 224, 224);
    background-color: rgb(243, 239, 239);
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
}

/* Product sides */

.delivery-date{
    color:rgb(209, 0, 0);
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

.cart-product{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.product-details{
    display:flex;
    justify-content:space-between;
    margin:20px 0px;
    gap:10px;
}

.product-img{
    width:150px;
}

.product-name{
    font-size:19px;
    font-weight:100;
    margin-bottom:20px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}

.product-price{
    color:darkred;
    font-size:large;
    font-weight: bolder;
    margin-bottom:5px;
}

.quantity{
    font-weight:bold;
    font-size:small;
}

/* Delivery time options */

.delivery-headings{
    font-size:18px;
    font-weight:bold;
}

.delivery-times{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:15px;
    margin:10px 0px
}

@media( max-width:425px )
{
    #left-section{
        padding:10px;
        margin:5px;
        justify-content: center;
    }
    
    #review{
        font-size: 25px;
        margin-left: 4px;
    }
    
    .cart-product-box{
        border-radius: 5px;
        padding:10px;
        margin-bottom:10px;
    }
    
    .delivery-date{
        font-size:15px;
        margin-bottom:5px;
    }
    
    .cart-product{
        flex-direction:column;
    }

    .product-img{
        height:100px;
    }
    
    .product-name{
        margin-bottom: 10px;
    }
    
    .product-price{
        font-size:medium ;
    }
    
    .quantity{
        font-size: x-small;
    }
    
    .delivery-option-box{
        margin-left:10px;
    }
    
    .delivery-times{
        margin-left:10px;
    }
}




