/* Left section */

#left-section{
  padding:0px 30px;
  margin:0px 20px 20px 20px;
  justify-content: flex-start;
}

#review{
  font-size:30px;
  margin-left:8px;
  font-weight:900;
}

.cart-product-box{
    border: 1px solid rgb(231, 224, 224);
    background-color: rgb(243, 239, 239);
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
}

/* Product sides */

.delivery-date{
    color:rgb(209, 0, 0);
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

.cart-product{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.product-details{
    display:flex;
    justify-content:space-between;
    margin:20px 0px;
    gap:10px;
}

.product-img{
    width:150px;
    height:160px;
    object-fit:contain;
}

.product-name{
    font-size:19px;
    font-weight:100;
    margin-bottom:20px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}

.product-price{
    color:darkred;
    font-size:large;
    font-weight: bolder;
    margin-bottom:5px;
}

.quantity{
    font-weight:bold;
    font-size:small;
}

/* Delivery time options */

.delivery-headings{
    font-size:18px;
    font-weight:bold;
}

.delivery-times{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:15px;
    margin:10px 0px
}

.count{
    font-size: 16px;
    margin:0;
    margin-left:5px;
    font-weight:bold;
    display:inline;
}

.del, .update{
    display:inline-block;
    color:blue;
    font-size: 15px;
    cursor:pointer;
}

.buttons{
    margin-top:20px;
}

.input-count{
    width:50px;
    border-radius: 4px;
    margin:0px;
    margin-left:10px;
    display:none;
    padding-left:5px;
}

.emptyContainerCSS{
    background-color: rgb(236, 236, 203);
    height:25vw;
    border-radius:30px;
    text-align:center;
    box-shadow:4px 4px 5px red;
    transition: all 1s;
}

.emptyTextCSS{
    font-size:40px;
    color:orangered;
    font-weight: bold;
    font-style:oblique;
    transform: translateY(140px);
    transition:all 1s;
}

@media( max-width:425px )
{
    #left-section{
        padding:10px;
        margin:5px;
        justify-content: center;
    }
    
    #review{
        font-size: 25px;
        margin-left: 4px;
    }
    
    .cart-product-box{
        border-radius: 5px;
        padding:10px;
        margin-bottom:10px;
    }
    
    .delivery-date{
        font-size:15px;
        margin-bottom:5px;
    }
    
    .cart-product{
        flex-direction:column;
    }

    .product-img{
        height:100%;
        width:50%;
        object-fit: contain;
    }
    
    .product-name{
        margin-bottom: 10px;
    }
    
    .product-price{
        font-size:medium ;
    }
    
    .quantity{
        font-size: x-small;
    }
    
    .delivery-option-box{
        margin-left:10px;
    }
    
    .delivery-times{
        margin-left:10px;
    }
    
    .emptyContainerCSS{
        width:90vw;
    }
    
    .emptyTextCSS{
        transform:translateY(20px);
        font-size:30px;
    }
}




